// GENERIC COLORS
$black: #000000;
$white: #ffffff;
$gray: #afafaf;
$danger: #bf1650;


// BUTTONS
$activeBtnBg: #010605;
$btnBorder: #043e3e;

// GRADIENT
$gradOne: #000000fe;
$gradTwo: #000d0c;
$gradThree: #003c37;

//INPUT-GREENS
$drkGreen: #041b18;
$lgtGreen: #043e3e;
$lgtrGreen: #024640;

//BlUES
$drkBlue: #000313;
$lgtBlue: #1f2b42;

//REDS
$fadedRed: #2a2a2a;
$darRed: #131313;
$lgtrRed: #0000004d;